<div class="container">
    <form [formGroup] ="formModel.model">
        <div class="row mt-4">
            <div class="col-sm"></div>
            <div class="col-sm text-center">
                <label class="form-label">Registration</label>
            </div>
            <div class="col-sm"></div>
        </div>

        <div class="row align-bottom mt-4">
            <div class="col-sm">
                <label>Login</label>
            </div>
            <div class="col-sm">
                <input type="text" class="form-control" formControlName="Login">
            </div>
            <div class="col-sm">

            </div>
        </div>

        <div class="row align-bottom mt-4">
            <div class="col-sm">
                <label>Email</label>
            </div>
            <div class="col-sm">
                <input type="email" class="form-control" formControlName="Email">
            </div>
            <div class="col-sm">

            </div>
        </div>

        <div class="row align-bottom mt-4">
            <div class="col-sm">
                <label>Password</label>
            </div>
            <div class="col-sm">
                <input type="password" class="form-control" formControlName="Password">
            </div>
            <div class="col-sm"></div>
        </div>

        <div class="row align-bottom mt-4">
            <div class="col-sm">
                <label>Repeat password</label>
            </div>
            <div class="col-sm">
                <input type="password" class="form-control" formControlName="ConfirmedPassword">
            </div>
            <div class="col-sm"></div>
        </div>

        <div class="row align-bottom mt-4">
            <div class="col-sm">

            </div>
            <div class="col-sm">
                <kendo-upload [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" (upload)="onUploadEvent($event)">
                </kendo-upload>
            </div>
            <div class="col-sm"></div>
        </div>

        <div class="row align-bottom mt-4">
            <div class="col-sm">

            </div>
            <div class="col-sm text-center">
                <button type="submit" class="btn btn-primary" [disabled]="!formModel.model.valid" (click)="onRegister()">Register</button>
                <button class="btn btn-primary ml-2" (click)="getTemplateFile()">Get template</button>
            </div>
            <div class="col-sm"></div>
        </div>
    </form>
</div>



