<form class="row g-3">
    <div class="col-md-6">
        <label class="form-label">Email</label>
        <input type="email" class="form-control">
    </div>
    <div class="col-md-6">
        <label class="form-label">Password</label>
        <input type="password" class="form-control">
    </div>

    <div class="col-md-6">
        <label class="form-label">Name</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-6">
        <label class="form-label">Surname</label>
        <input type="text" class="form-control">
    </div>

    <div class="col-md-6">
        <label class="form-label">File</label>
        <input type="text" class="form-control">
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary form-control">Add file</button>
    </div>
    <!--<div class="col-md-6">
        <label class="form-label">test</label>
        <button class="btn btn-primary">Add file</button>
    </div>-->

    <div class="col-12 mt-4">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>