<div class="container">
    <div class="row mt-4">
        <div class="col-sm"></div>
        <div class="col-sm text-center">
            <label class="form-label">Registration</label>
        </div>
        <div class="col-sm"></div>
    </div>

    <div class="row align-bottom mt-4">
        <div class="col-sm">
            <label>Login</label>
        </div>
        <div class="col-sm">
            <input type="text" class="form-control">
        </div>
        <div class="col-sm">

        </div>
    </div>

    <div class="row align-bottom mt-4">
        <div class="col-sm">
            <label>Password</label>
        </div>
        <div class="col-sm">
            <input type="password" class="form-control">
        </div>
        <div class="col-sm"></div>
    </div>

    <div class="row align-bottom mt-4">
        <div class="col-sm">
            <label>Repeat password</label>
        </div>
        <div class="col-sm">
            <input type="password" class="form-control">
        </div>
        <div class="col-sm"></div>
    </div>

    <div class="row align-bottom mt-4">
        <div class="col-sm">
            <button type="submit" class="btn btn-primary">Pin file</button>
        </div>
        <div class="col-sm">
            <input type="text" class="form-control">
        </div>
        <div class="col-sm"></div>
    </div>

    <div class="row align-bottom mt-4">
        <div class="col-sm">

        </div>
        <div class="col-sm text-center">
            <button type="submit" class="btn btn-primary">Register</button>
            <button type="submit" class="btn btn-primary ml-2">Get template</button>
        </div>
        <div class="col-sm"></div>
    </div>

</div>



