<div class="container">
    <div class="row mt-4">
        <div class="col-sm"></div>
        <div class="col-sm text-center">
            <label class="form-label">Create event</label>
        </div>
        <div class="col-sm"></div>
    </div>

    <div class="row align-bottom mt-4">
        <div class="col-sm">
            <label>Title</label>
        </div>
        <div class="col-sm">
            <input type="text" class="form-control">
        </div>
        <div class="col-sm">

        </div>
    </div>

    <div class="row align-bottom mt-4">
        <div class="col-sm">
            <label>Location</label>
        </div>
        <div class="col-sm">
            <input type="text" class="form-control">
        </div>
        <div class="col-sm"></div>
    </div>

    <div class="row align-bottom mt-4">
        <div class="col-sm">
            <label>Date</label>
        </div>
        <div class="col-sm">
            <input type="date" class="form-control">
        </div>
        <div class="col-sm"></div>
    </div>

    <div class="row align-bottom mt-4">
        <div class="col-sm">
            <label>Time</label>
        </div>
        <div class="col-sm">
            <input type="time" class="form-control">
        </div>
        <div class="col-sm"></div>
    </div>

    <div class="row align-bottom mt-4">
        <div class="col-sm">
            <button type="submit" class="btn btn-primary">Add info</button>
        </div>
        <div class="col-sm ">
            <div class="example-container mat-elevation-z8" style="height:300px; overflow: auto">
                <mat-table  class="table-container" #table [dataSource]="dataSource">

                    Name Column
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    Weight Column
                    <ng-container matColumnDef="weight">
                        <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>

    <div class="row align-bottom mt-4">
        <div class="col-sm">

        </div>
        <div class="col-sm text-center">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
        <div class="col-sm"></div>
    </div>

</div>