
<!--<form class="row g-3">
    <div class="col-md-6 mt-4">
        <label class="form-label">Email</label>
    </div>
    <div class="col-md-6 mt-4">
        <input type="email" class="form-control">
    </div>


    <div class="col-md-6 mt-4">
        <label class="form-label">Password</label>
    </div>
    <div class="col-md-6 mt-4">
        <input type="password" class="form-control">
    </div>

    <div class="col-md-6 mt-4">
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>

</form>-->
<div class="row block-1">
    <div class="col-xs-4">
        <div class="panel panel-default width-60">
            <div class="panel-body">
                <form novalidate class="k-form-inline">
                    <label class="k-form-field">
                        <span>Банк</span>
                        <input readonly class="k-textbox"/>
                    </label>
                    <label class="k-form-field">
                        <span>Тип договора</span>
                        <input readonly class="k-textbox"/>
                    </label>
                    <label class="k-form-field">
                        <span>№ договора</span>
                        <input readonly class="k-textbox"/>
                    </label>
                    <label class="k-form-field">
                        <span>Дата истечения договора</span>
                        <input readonly class="k-textbox" />
                    </label>
                    <label class="k-form-field">
                        <span>Валюта договора</span>
                        <input readonly class="k-textbox"/>
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>