<form class="row g-3">
    <div class="col-md-6 mt-4">
        <label class="form-label">Email</label>
    </div>
    <div class="col-md-6 mt-4">
        <input type="email" class="form-control">
    </div>


    <div class="col-md-6 mt-4">
        <label class="form-label">Password</label>
    </div>
    <div class="col-md-6 mt-4">
        <input type="password" class="form-control">
    </div>

    <div class="col-md-6 mt-4">
        <button class="btn btn-primary" (click)="signIn()">Sign in</button>
    </div>

</form>
